{% extends '_base.twig' %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
    <div id="content">
        <h1>{{ this.title }}</h1>
        <small>{{ this.published }}</small>
        {% if this.is_draft %}This is a draft{% endif %}

        <div>
            {{ this.body }}
        </div>

        <h5>Want more? Check out these posts:</h5>
        <ul>
            {% for post in Post().where('is_draft', '=', false).where('title', '!=', this.title) %}
                <li><a href="/blog/{{ post.id }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}