{% extends '_base.twig' %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
    {% if this.image %}
        <img src="{{ this.image }}" id="header-image">
    {% endif %}

    <div id="content">
        <h1>{{ this.title }}</h1>
        <div>
            {{ this.body }}
        </div>


        <h3>Gallery</h3>
        <ul>
            {% for block in this.gallery %}
                <li>
                    <img src="{{ block.image }}">
                    <p>{{ block.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}